<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ topico.titulo }}</title>
</head>
<body>
    <header>
        <h1>{{ topico.titulo }}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'forum' %}">Voltar para o Fórum</a></li>
                <li><a href="{% url 'estrelas' %}">Catálogo de Estrelas</a></li>
                <li><a href="{% url 'constelacoes' %}">Constelações</a></li>
                <li><a href="{% url 'pesquisa' %}">Pesquisa</a></li>
                <li><a href="{% url 'loja' %}">Loja</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Conteúdo do Tópico</h2>
        <p>{{ topico.conteudo }}</p>
    </section>
</body>
</html>
